* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: calc(min(100% - 1rem, 90rem));
    margin-inline: auto;
}

html, body {
    height: 100%; 
}

body {
    color: $dark; 
    font-family: $ff-ss;
    line-height: 1.6;
    background: $cream; 
    font-size: .875rem; 
    overflow-x: hidden; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    @include mq {
        font-size: 1.125rem; 
    }
}

img {
    max-width: 100%;
}


h1 {
    @include serif($fs: 2rem);
    color: $dark; 
    line-height: 1; 
    font-size: 3.125rem;

    @include mq {
        font-size: 3.5rem;
    }
}

h2 {
    @include serif($fs: 2rem);

    @include mq {
        font-size: 3rem; 
    }
}

