.case-studies {
  text-align: center;
  // background-color: $dark;
  padding: 5em 0; 

  h1 {
      @include serif ($fs: 4em, $color: $cream); 
  }
}

.casestudy-items {
  display: flex;
  flex-direction: column;
  @include container ($max-width: 60rem); 
}

.casestudy-item {
  position: relative;
  overflow: hidden;
  flex: 0 1 auto; 
  justify-content: space-evenly;


  .casestudy-image {
      display: block;
      object-fit: cover; 
      width: 100%;
      max-height: 100%;
  }

  figcaption {
      position: absolute;
      top: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba($royal-blue, 0.85);
      color: $cream;
      text-align: left; 
      padding: 1em;
      display: flex;
      flex-direction: column; 
      transition: top ease-in-out 250ms; 
  }

  &:hover figcaption,
  &:focus figcaption {
      top: 0;
  }
}

.casestudy-title {
  @include serif ($fs: 3em, $color: $cream);
  margin-bottom: auto;
}

.casestudy-desc {
  // display: none;
  
  @include mq {
      display: none;
  }
}

.casestudy-link {
  color: $cream;
  font-weight: $fw-b;
  font-size: 1.1rem; 
  text-decoration: none;
  border-bottom: 3px solid $cream;
  align-self: flex-start; 

  &::after {
      content: "";
      background-image: url("../images/arrow-icon.svg");
      background-size: cover; 
      display: inline-flex;
      height: 0.5em; 
      width: 0.5em;
  }
}

@supports (display:grid) {
  .casestudy-items {
      display: grid;
      grid-gap: 1em; 
      grid-template-columns: repeat(1, 1fr);
      

      @include mq {
          grid-template-columns: repeat(2, 1fr);
      }
  }

  .casestudy-item.featured {
      grid-column: 1 / span 2; 
      grid-row: 1 / span 2;
  } 

  .featured {
      .casestudy-title {
          font-size: 3em;
      }  

      .casestudy-desc {
          display: block;
      }
  }
}

.title {
  @include align-center;
  width: 100%;
  background-color: $dark;
  
  h1 {
    margin-top: 3em;
    color: $cream;
  }
}

.case {
  padding: 0;
  @include align-center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  @include mq {
    width: 50rem;
    margin: 0 auto;
  }
  
  h2 {
    @include serif ($fs: 2em);
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  p {
    @include sans-serif ($fs: 1.25em, $fw: $fw-l, $lh: 1.25);
    margin: 1em 0;
  }

  img {
    margin-top: 1em;
    @mixin mq {
      max-width: 20rem;
    }
  }

  & .project_overview {
      @include align-center;
      flex-direction: column;
      margin-top: 1em;
  }

  & .case_roles {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 1em;
    gap: 2em;

    ul {
      padding-left: 0%;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
    
    @include mq {
      gap: 6em;
      align-items: flex-start;

      h2 {
        @include serif ($fs: 2em);
      }
    
      p {
        @include sans-serif ($fs: 1.25em, $fw: $fw-l);
      }
    }
  }

  & .research {

    & .problem {
    @include align-center;
    flex-direction: column;
    }

    & .findings {
      @include align-center;
      flex-direction: column;
    }

    & .quotes {
      @include align-center;
      flex-direction: column;
    }
  }

}







