.contact {
    @include container;
    padding: 7em 0; 
    // background: url(../images/welcome.jpg) bottom left no-repeat;
    // background-size: cover;

    h1 {
        text-align: center;
        @include serif ($fs: 3em);
    }
}

form {
    display: flex; 
    flex-direction: column;

    @supports (display:grid) {
        @include mq {
            display: grid; 
            grid-template-column: 1fr 1fr; 
            grid-column-gap: 1em; 
            grid-template-areas: 
                "name    email"
                "message message"
                "  .     button";

            .name {
                grid-area: name;
            }

            .email {
                grid-area: email;
            }

            .message {
                grid-area: message;
                textarea {
                    height: 10em; 
                }
            }

            .button {
                grid-area: button; 
            }
        }
        
    }
}

label {
    display: block; 
    margin-top: 1em; 
    color: $dark;
}

input, 
textarea {
    box-sizing: border-box; 
    display: block; 
    padding: 0.75em; 
    width: 100%; 
    min-width: 10em;  
    background: lighten($cream, 3%);
    border: 1px solid $blue;
    border-radius: 0.2em;
    font-size: 1.2rem; 
}

.button {
    display: inline-block;
    width: auto;  
    min-width: auto; 
    margin-top: 1em; 
    margin-left: auto;  
    background: $dark-blue;
    border: none; 
    color: $white; 
    font-weight: $fw-m; 
    padding: 1em 1.5em; 
}


