.intro {
    display: flex;
    color: $white;

    h2 {
        color: $white;

        &::after {
            content: "";
            display: block;
            width: 20%;
            height: 1px;
            background: $light-orange;
            margin: 1em auto 0;  
        }
    }

    @supports (display: grid) {
        display: grid;  
        grid-template-columns: minmax(2em, 1fr) minmax(auto, 30em) minmax(2em, 1fr);
    }
}

.intro-middle {
    background: $dark-grey;
    color: $white;
    padding: 2.5em 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-left img,
.intro-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;   
}