// .intro_background {
//     position: relative;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh; 
//     background-image: url(/images/intro_background.jpg);
//     background-size: cover;
//     background-position: center;
// }

// .intro {

//     h2 {
//         color: $dark;

//         &::after {
//             content: "";
//             display: block;
//             width: 20%;
//             height: 1px;
//             background: $royal-blue;
//             margin: 1em auto 0;  
//         }
//     }

//     @supports (display: grid) {
//         display: grid;  
//         grid-template-columns: minmax(2em, 1fr) minmax(auto, 30em) minmax(2em, 1fr);
//     }
// }

.intro_title {
    background: transparent;
    color: $dark;
    padding: 0 3vw;
    text-align: left;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url(../images/intro_background.jpg);
    background-size: cover;

    @include mq {
      background-position-y: -5rem;  
    }
    

    h1 {
        @include serif($fs:2.5em, $lh:2.5); 
        font-weight: $fw-m;
        padding: 5em 3vw;

        @include mq {
            padding: 6em;
        }
    }

    a {
        color: $dark;
        text-decoration: none;
        background-image: linear-gradient($dark 50%, $dark 50%);
        background-size: 10000px 2px;
        color: $dark;
        background-repeat: no-repeat;
        background-position: 0 1em;
        background-position: -10000px 1em;
            
            &:hover {
                background-position: 0 1em;
                transition: background-position 2s ease-in-out;
            }
        }
}
    
    


