// #intro {
//     z-index: 5;
// }

.intro_title {
    color: $dark;
    text-align: left;
    width: 60%;
    margin: 0 auto;
    padding: 3em; 
    background-color: rgba(253, 250, 243, 0.9);
    border-radius: 2em;
    transform: translateZ(210px) scale(calc (1 + ((210px * -1) / 300)));

    h2 {
        @include serif($fs:2.5em, $lh:1.5); 
        font-weight: $fw-m;
        top: 0;
        left: 0;
    }

    a {
        color: $dark;
        text-decoration: none;
        background-image: linear-gradient($dark 50%, $dark 50%);
        background-size: 10000px 2px;
        color: $dark;
        background-repeat: no-repeat;
        background-position: 0 1em;
        background-position: -10000px 1em;
            
            &:hover {
                background-position: 0 1em;
                transition: background-position 2s ease-in-out;
            }
        }
}
    
    


