.portfolio-header {
    position: fixed; 
    display: flex;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 9999; 
    border-bottom: $dark 1px solid;
    padding: 1rem 0;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none; 

    @media (max-width: 35em) {
        display: block; 
        position: absolute;
        z-index: 9999;
        background: $blue; 
        border: 0;
        width: 2rem; 
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}

.logo {
    display: inline;
    float: left;
    margin: 0 0 0 1rem;
    @include sans-serif($fs:1.5em, $fw:$fw-b);
}

.primary-navigation {
    margin: 0 2em;
    padding: 0; 
    list-style: none; 
    display: flex; 
    gap: var(--gap, 1rem);
    flex-direction: row; 
    justify-content: right; 
    align-items: center;

    @media (max-width: 35em) {
        position: fixed;
        z-index: 1000;
        inset: 0 0 30%; 
        --gap: 2rem;
        flex-direction: column;
        align-items: flex-start;         
        padding: Min(30vh, 10rem) 2em;

        transform: translateX(100%);

        [data-visible="true"] {
            transform: translateX(0%)
        }
    }

    // @supports (backdrop-filter: blur(1rem)) {
    //     background-color: hsl(42, 71%, 97% / 0.1);
    //     backdrop-filter: blur(1rem);
    // }

}

nav li {
    text-align: center;
}

nav li:hover {
    background: $dark;
}

nav a {
    @include sans-serif($fs:1.25em);
    text-decoration: none;
}

nav a:hover {
    color: $cream;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */

    &:focus,:active {
        clip: auto !important;
        -webkit-clip-path: none !important;
        clip-path: none !important;
        height: auto !important;
        margin: auto !important;
        overflow: visible !important;
        width: auto !important;
        white-space: normal !important;
    }
}
