.menu-button {
    position: fixed;
    top: 5em; 
    left: 3em; 
    background: transparent;
    border: 0;
}

.portfolio-header {
    position: fixed; 
    display: flex;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 9999; 
    border-bottom: $dark 1px solid;
    padding: 1rem 0;
    justify-content: space-between;
}

.logo {
    display: inline;
    float: left;
    margin: 0 0 0 1rem;
    @include sans-serif($fs:1.5em, $fw:$fw-b);
}

nav ul {
    margin: 0 2em;
    padding: 0; 
    list-style: none; 
    display: flex; 
    gap: var(--gap, 1rem);
    flex-direction: row; 
    justify-content: right; 
    align-items: center;

    background: hsl(42, 71%, 97% / 0.85);
    @media (max-width: 35em) {
        position: fixed;
        inset: 0 0 30%; 
        flex-direction: column;
        align-items: flex-start;
        padding: min(30vh, 10rem) 2em;
    }

}

nav li {
    text-align: center;
}

nav li:hover {
    background: $dark;
}

nav a {
    @include sans-serif($fs:1.25em);
    text-decoration: none;
}

nav a:hover {
    color: $cream;
}


