// #home {
//     z-index: 0;
// }

.welcome_background {
    top: 0;
    left: 0;
    height: 100vh; 
    background: url(../images/welcome_background.jpg) bottom left no-repeat;
    background-size: cover;
    transform: translateZ(-300px) scale(2);
}

.welcome {
    // top: 0;
    // left: 0;
    // height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);

    h1 {
        font-size: 3rem;
        font-weight: $fw-m; 
        color: $dark;
        line-height: 2;
        text-align: center;
        background-color: $cream;
        border-radius: 0.25em;

        @include mq {
            font-size: 5vw; 
        }

        span {
            @include serif($fs: 1.5rem);
            display: block;

            &::before {
                content: " ";
                display: block;
                width: 50%;
                margin: 0 auto 1em; 
                height: 2px; 
                background: $royal-blue;
            }

            @include mq {
                font-size: 2.5vw; 
            }
        }


        &::before {
            margin: 0 auto 2em;
        }

        &::after {
            margin: 2em auto 0;
        }
    }
}



