$white: rgb(251, 248, 244);
$cream: #fdfaf3;
$beige: #EAE0C7; 
$grey-beige: #D2CCBC;
$grey: #77736E;
$blue-grey: #7690B7;
$dark: #422A2A;
$cloud-blue: #CFDAE9;
$blue: #476ECB;
$royal-blue: #1228B9;
$dark-blue: #2D4A83; 
