@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600&family=Jost:wght@300;400;500;600&display=swap');

$ff-s: 'Bitter', serif;
$ff-ss: 'Jost', sans-serif;

$fw-l: 300; 
$fw-n: 400;
$fw-m: 400; 
$fw-b: 600; 

@mixin serif($fs, $ls: 0em, $color: $dark, $lh: 1) {
    font-size: $fs;
    letter-spacing: $ls;
    color: $color; 
    line-height: $lh;
    font-family: $ff-s;
    font-weight: $fw-m;
}

@mixin sans-serif($fs, $ls: 0em, $color: $dark, $lh: 1, $fw:$fw-n) {
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    line-height: $lh;
    font-family: $ff-ss;
    font-weight: $fw;
}
